// 排版元素样式

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: var(--font-weight-semibold);
  color: var(--text-color);
  transition: color var(--transition-normal);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  margin: 0;
  color: var(--text-color);
  font-size: var(--font-size-body);
  line-height: var(--line-height-normal);
  transition: color var(--transition-normal);
}

