@font-face {
    font-family: "iconfont"; /* Project id 3393515 */
    src: url('//at.alicdn.com/t/c/font_3393515_vz4vipzrmmk.woff2?t=1763278951487') format('woff2'),
         url('//at.alicdn.com/t/c/font_3393515_vz4vipzrmmk.woff?t=1763278951487') format('woff'),
         url('//at.alicdn.com/t/c/font_3393515_vz4vipzrmmk.ttf?t=1763278951487') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-more:before {
    content: "\e64f";
  }
  
  .icon-xiaochengxu:before {
    content: "\e63a";
  }
  
  .icon-copy:before {
    content: "\e94c";
  }
  
  .icon-history:before {
    content: "\e674";
  }
  
  .icon-excute:before {
    content: "\efb9";
  }
  
  .icon-task:before {
    content: "\e732";
  }
  
  .icon-accountbook:before {
    content: "\e7d3";
  }
  
  .icon-a-1-Increase:before {
    content: "\e76b";
  }
  
  .icon-reset:before {
    content: "\e614";
  }
  
  .icon-tansuodianjihou01:before {
    content: "\e603";
  }
  
  .icon-Homehomepagemenu:before {
    content: "\e9db";
  }
  
  .icon-igw-f-flow:before {
    content: "\e649";
  }
  
  .icon-Checklist:before {
    content: "\eae5";
  }
  
  .icon-fabu_mian24:before {
    content: "\e610";
  }
  
  .icon-up-circle:before {
    content: "\e786";
  }
  
  .icon-add-circle:before {
    content: "\e664";
  }
  
  .icon-chat-2-line:before {
    content: "\e700";
  }
  
  .icon-more-line:before {
    content: "\e8e4";
  }
  
  .icon-qr-code-line:before {
    content: "\e728";
  }
  
  .icon-share-box-fill:before {
    content: "\e8b5";
  }
  
  .icon-thumb-up-line:before {
    content: "\e898";
  }
  
  .icon-thumb-up-fill:before {
    content: "\e8ae";
  }
  
  .icon-thumb-down-fill:before {
    content: "\e8e1";
  }
  
  .icon-thumb-down-line:before {
    content: "\e8f2";
  }
  
  .icon-more-fill:before {
    content: "\e8cb";
  }
  
  .icon-indent-increase:before {
    content: "\e785";
  }
  
  .icon-pencil-fill:before {
    content: "\e70e";
  }
  
  
